<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elbazonpolisanov.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".calculator.CalculatorActivity" android:label="@string/app_CalcName" />
        <activity android:name=".birthday.BirthdayMainActivity" android:label="@string/app_BirthdayName"/>
        <activity android:name=".birthday.BirthdayAddActivity" android:label="@string/app_BirthdayName"/>
        <activity android:name=".birthday.BirthdayListActivity" android:label="@string/app_BirthdayName"/>
            <activity android:name=".flyingball.FlyingBallActivity" android:label="@string/app_Flying"/>
        <!--</activity>-->
    </application>

</manifest>